.navbar {
    width: full;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #0f1111;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.search-box {
    padding:2px;
    outline:none;
}

.seach-btn{
    background-color: #f08800;
    color: white;
    padding: 2px;
}